
.main_menu {


    background-color: #282c34;
    height: 1410px;
    width: 1470px;
    border-radius: 10px;
    border: solid 4px midnightblue;
    margin: 7px;


}

.headText {
    text-align: center;
    font-family: "Arial Black";

}


.pText:hover {
    color: snow;
    background-color: grey;
    cursor: pointer;
    opacity: 2;
    box-shadow: 5px 5px 5px black;


}

.headCustom:hover {

    color: snow;
    background-color: grey;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;

}


.headCustom {

    height: 100px;
    width: auto;
    background-color: dimgray;
    border: solid 3px black;
    margin: 20px;
    border-radius: 6px;
    transition: color 0.5s, background-color 0.40s, text-shadow 0.45s;


}

.keeper {


    height: 480px;
    width: 1360px;
    margin: 50px;
    display: grid;
    grid-template-columns: 850px 300px;


}

.imageSection {


    background: gray;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    border: solid 2px black;
    border-radius: 4px;

}

.button {

    height: 50px;
    width: 150px;
    margin: 50px;
    margin-left: 850px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(191, 138, 168);

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.55s;



}

.button:hover {
    box-shadow: 0 0 20px rgba(127, 146, 113);
    -webkit-transform: scale(1.1);
    opacity: 0.85;
    transform: scale(1.1);

}

.description {

    text-align: center;
    font-family: cursive;
    background-color: lightsteelblue;
    font-size: 15px;
    border: solid 4px black;
    border-radius: 3px;
    height: 190px;
    width: 540px;
    margin: 20px;

}

.input {


    display: none;

}

.imageSelecter {

    color: darkgreen;
    font-size: 19px;
    font-family: cursive;
    margin: 130px;
    cursor: pointer;

}

.image{
    display: inline-block

}
.line{

    height: 5px;
    width: auto;
    background-color: white;


}

